.icon {
    padding: 5px;
    transition: all 0.3s ease-out;
    border-radius: 5px;
}

.icon:hover {
    cursor: pointer;
    box-shadow: 0 0 7px 2px #d9d9d9;
}

.widget {
    padding: 1rem;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 0 7px 2px #d9d9d9;
    transition: all 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .title {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .icons {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .location {
                height: 13px;
                display: block;
                &:hover {
                    cursor: pointer;
                }
            }

            .settings {
                margin-left: 0.5rem;
                transition: transform .7s ease-in-out;

                &:hover {
                    cursor: pointer;
                    transform: rotate(180deg);
                }
            }
        }
    }

    .temperature {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-weight: bold;
        font-size: large;
        padding: 1rem;
        margin-bottom: 1rem;
        border-bottom: solid 2px #b7b7b7;
    }

    .items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row wrap;

        .item {
            flex-basis: 100%;
        }
    }
}

.close {
    margin-left: 10px;
    transition: transform .7s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: rotateY(180deg);
    }
}
