.icon:hover {
    cursor: pointer;
}

.widget {
    padding: 1rem;
    border-radius: 5px;
    width: 200px;
    .title {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .settings {
            margin-left: 1rem;
        }
    }
    .temperature {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-weight: bold;
        font-size: large;
        padding: 1rem;
    }
    .items {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
}

.close {
    margin-left: 10px;
    transition: transform .7s ease-in-out;
    &:hover {
        cursor: pointer;
        transform: rotateY(180deg);
    }
}
